body {
    background-color: #FFFFFF;
    --text-color: #000;
    text-align: center;
    background: linear-gradient(#8888FF, #FFFFFF);
}

a{
    color: var(--text-color);
    font-size: 60px;
}

h1{
    color: var(--text-color);
    text-align: center;
}
h2{
    color: var(--text-color);
    text-align: center;
}
h3{
    color: var(--text-color);
}
form{
    background: #77AAFF;
    color: var(--text-color);
    border: 3px solid #0000FF;
    margin: 0% 25% 0% 20% ;
    padding : 50px 10px 10px 30px ; /*up left down right*/
    text-align: left;
}
table,
td {
    border: 1px solid #20C20E;
}

